


.Join {
    
    text-align: center;
    font-size: 3vh;
    margin: 9% 0;
    padding: 5%;
    background-color: white;
    color: black;
    font-family: 'Share Tech', sans-serif;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.508);
    border: dashed 0.4vh rgba(255, 255, 255, 0.508);
    box-sizing: border-box;

    p {
        margin: 5px;
    }
}
