$background-color: #47BDFF;
$secondary-background-color: #FDFDFD;

$text-color: #252525;
$secondary-text-color: #FDFDFD;

$prompt-card-color: #1E1E1E;
$card-color: #F1F1F1;


$btn-fontfamily: Varela;
