@import '../../../shared/named_variables.module.scss';

.OpenBoxIcon {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 35vh;

    @include respond(tab-landscape) {
        height: 50vh;
    }
}